@page "/personal/account"

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Account</MudText>

<AuthorizeView>
    <Authorized>
        <MudTabs Elevation="1" Rounded="true" PanelClass="mt-6">
            <MudTabPanel Text="General">
                <MudGrid>
                    <MudItem xs="12" sm="4" md="3">
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText>Public Profile</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <div class="d-flex justify-center mb-4">
                                    <MudAvatar Image="@_imgData" Style="height:100px; width:100px;">
                                        @if(AvatarImageLink == null)
                                        {
                                            <MudIcon Icon="@AvatarIcon" Size="Size.Large"></MudIcon>
                                        }
                                    </MudAvatar>                                    
                                    @*<img src="@_imgData"  />*@
                                </div>
                                <MudText Align="Align.Center">@_profileCommand.FirstName @_profileCommand.LastName</MudText>
                                <MudText Align="Align.Center">@_profileCommand.Title</MudText>
                            </MudCardContent>
                            <MudCardActions Class="d-flex justify-center">
                                <InputFile id="fileInput" OnChange="UploadImage" hidden accept=".jpg, .jpqg, .png" />
                                @*<MudButton OnClick="DeletePicture" Color="@AvatarButtonColor">@AvatarButtonText</MudButton>*@
                                <MudButton HtmlTag="label"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Filled.CloudUpload"
                                           for="fileInput">
                                    Upload Files
                                </MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12" sm="8" md="9">                        
                        <EditForm Model="@_profileCommand" OnValidSubmit="SaveProfileAsync" Context="profileContext">
                            <MudCard>                            
                                <MudCardHeader>
                                    <CardHeaderContent>
                                        <MudText>Profile Details</MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudGrid>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="_profileCommand.FirstName" Label="First Name" Variant="Variant.Outlined" />
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="_profileCommand.LastName" Label="First Name" Variant="Variant.Outlined" />
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="_profileCommand.Title" Label="Job Title" Variant="Variant.Outlined" />
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="_profileCommand.Email" Label="Email" Variant="Variant.Outlined" InputType="InputType.Email" />
                                        </MudItem>                                  
                                    </MudGrid>
                                </MudCardContent>
                                <MudCardActions Class="pb-4 pl-4">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" ButtonType="ButtonType.Submit">Save Changes</MudButton>
                                </MudCardActions>                            
                            </MudCard>
                        </EditForm>                        
                    </MudItem>
                </MudGrid>
            </MudTabPanel>
            <MudTabPanel Text="Security">
                <EditForm Model="@_changePasswordCommand" OnValidSubmit="ChangePasswordAsync" Context="passwordContext">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText>Change Password</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid>
                                <MudItem xs="12" md="6">
                                    <MudTextField T="string" Label="Current Password" Variant="Variant.Outlined" InputType="InputType.Password" @bind-Value="_changePasswordCommand.CurrentPassword" />
                                </MudItem>
                                <MudItem xs="12" md="6">
                                    <MudTextField T="string" Label="New Password" Variant="Variant.Outlined" InputType="InputType.Password" @bind-Value="_changePasswordCommand.NewPassword" />
                                </MudItem>
                                <MudItem xs="12" md="6">
                                    <MudTextField T="string" Label="Password Confirmation" Variant="Variant.Outlined" InputType="InputType.Password" @bind-Value="_changePasswordCommand.ConfirmPassword" />
                                </MudItem>                        
                            </MudGrid>
                        </MudCardContent>
                        <MudCardActions Class="pb-4 pl-4">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" ButtonType="ButtonType.Submit">Change Password</MudButton>
                        </MudCardActions>
                    </MudCard>
                </EditForm>
            </MudTabPanel>
        </MudTabs>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this page.</p>
    </NotAuthorized>
</AuthorizeView>

